.class-color {
  color: lightcoral;
  font-family: monospace;
}
.class-name-color {
  color: yellowgreen;
  font-family: monospace;
  line-height: 3em;
}

@import 'components/typography';
@import 'components/buttons';
