<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Components</title>

  <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
  <main class="page-home">
  <div class="container">
    <section class="typography">
      <h1 class="typography__title first-title">Typography</h1>
      <ul class="typography__list typography__list--default">
        <li class="typography__list-item">
          <h1 class="first-title">Heading 1</h1>
          <span class="class-color">class</span><span class="class-name-color">="first-title"</span>
        </li>

        <li class="typography__list-item">
          <h2 class="second-title">Heading 2</h2>
          <span class="class-color">class</span><span class="class-name-color">="second-title"</span>
        </li>

        <li class="typography__list-item">
          <h2 class="second-title bordered-title">
            <span>Heading Bordered</span>
          </h2>
          <span class="class-color">class</span><span class="class-name-color">="second-title bordered-title"</span>
          <span class="class-color">Example:</span><span class="class-name-color">
            h2.second-title.bordered-title>span{Title name}
          </span>
        </li>

        <li class="typography__list-item">
          <h3 class="third-title">Heading 3</h3>
          <span class="class-color">class</span><span class="class-name-color">="third-title"</span>
        </li>

        <li class="typography__list-item">
          <p class="main-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aut consequuntur doloribus molestiae obcaecati tempore? Assumenda dolore odio provident quia sint!
          </p>
          <span class="class-color">class</span><span class="class-name-color">="main-text"</span>
        </li>

        <li class="typography__list-item">
          <p class="small-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aut consequuntur doloribus molestiae obcaecati tempore? Assumenda dolore odio provident quia sint!
          </p>
          <span class="class-color">class</span><span class="class-name-color">="small-text"</span>
        </li>
      </ul>
    </section>

    <section class="buttons">
      <h1 class="buttons__title first-title">Buttons</h1>
      <ul class="buttons__list">
        <li class="buttons__list-item">
          <button class="button">
            <span>Button name</span>
          </button>
          Classes for this button:
          <span class="class-color">class</span><span class="class-name-color">="button"</span>
        </li>
      </ul>
    </section>
  </div>
</main>
</body>
</html>
