@@include('./components/header-empty.html', { "title": "Home | p2p-factory" })

<body>
  <main class="page-home">
    <div class="container">
      <h1 style="color: #fff">Навигация</h1>
      <nav>
        <ul style="list-style-type: decimal; color: #fff">
          <li style="margin-bottom: 12px;">
            <a style="text-decoration: none; color:inherit;" href="../_dist/components.html" target="_blank">Components</a>
          </li>

          <li style="margin-bottom: 12px;">
            <a style="text-decoration: none; color:inherit;" href="../_dist/main.html" target="_blank">Home</a>
          </li>

          <li style="margin-bottom: 12px;">
            <a style="text-decoration: none; color:inherit;" href="../_dist/404.html" target="_blank">404</a>
          </li>
        </ul>
      </nav>
    </div>
  </main>

  @@include('./components/footer-empty.html')
