@@include('./components/header-common.html', { "title": "Home Page | p2p-factory" })
  <main class="main" id="main">
    <section class="hero">
      <div class="container hero__container">
        <div class="hero__content">
          <div class="hero__desc-wrapper">
            <h1 class="first-title hero__title">Заработок <br> на арбитраже криптовалют!</h1>
            <p class="main-text hero__subtitle">
              Можно зарабатывать даже без опыта с нашим бесплатным пошаговым план! Получай прибыль уже сегодня!
            </p>
            <ul class="hero__list">
              <li class="hero__list-item small-text">Быстро</li>
              <li class="hero__list-item small-text">Доступно</li>
              <li class="hero__list-item small-text">Легко</li>
            </ul>
          </div>
          <a href="#" class="hero__link download">скачать пошаговый план</a>
        </div>
      </div>
    </section>
    <section class="how-it-works">
      <a name="how-it-works"></a>
      <div class="container">
        <div class="how-it-works__title-wrap">
          <h2 class="second-title how-it-works__title bordered-title">
            <span>Как работают арбитражники?</span>
          </h2>
          <p class="small-text how-it-works__subtitle">Ничего сложного: главное понимать сам процесс</p>
        </div>

        <ul class="how-it-works__list">
          <li class="how-it-works__item">
            <span class="how-it-works__item-img-box">
              <img src="../assets/img/stiker-4.png" alt="" class="how-it-works__item-img">
            </span>
            <span class="how-it-works__item-text main-text">Выбираешь биржу</span>
          </li>

          <li class="how-it-works__item">
            <span class="how-it-works__item-img-box">
              <img src="../assets/img/stiker-3.png" alt="" class="how-it-works__item-img">
            </span>
            <span class="how-it-works__item-text main-text">Покупаешь валюту</span>
          </li>

          <li class="how-it-works__item">
            <span class="how-it-works__item-img-box">
              <img src="../assets/img/stiker-2.png" alt="" class="how-it-works__item-img">
            </span>
            <span class="how-it-works__item-text main-text">Сравниваешь курсы</span>
          </li>

          <li class="how-it-works__item">
            <span class="how-it-works__item-img-box">
              <img src="../assets/img/stiker-5.png" alt="" class="how-it-works__item-img">
            </span>
            <span class="how-it-works__item-text main-text">Перепродаешь по лучшей цене</span>
          </li>

          <li class="how-it-works__item">
            <span class="how-it-works__item-img-box">
              <img src="../assets/img/stiker-1.png" alt="" class="how-it-works__item-img">
            </span>
            <span class="how-it-works__item-text main-text">Получаешь прибыль</span>
          </li>
        </ul>
      </div>
    </section>
    <section class="advantages">
      <a name="advantages"></a>
      <div class="container">
        <div class="advantages__title-wrap">
          <h2 class="second-title advantages__title bordered-title">
            <span>Почему P2P криптоарбитраж выгоден</span>
          </h2>
          <p class="small-text advantages__subtitle">А учиться и работать с нами — круто</p>
        </div>

        <ul class="advantages__list">
          <li class="advantages__item">
            <h3 class="main-text advantages__title">Не требует опыта</h3>
            <p class="small-text">Мы научим понимать принципы работы и нюансы</p>
          </li>

          <li class="advantages__item">
            <h3 class="main-text advantages__title">Ничего сложного</h3>
            <p class="small-text">Все, что тебе нужно — телефон, интернет и желание</p>
          </li>

          <li class="advantages__item">
            <h3 class="main-text advantages__title">Без привязки к месту</h3>
            <p class="small-text">Работай там, <br>где тебе удобно</p>
          </li>

          <li class="advantages__item">
            <h3 class="main-text advantages__title">Бесплатно</h3>
            <p class="small-text">Мы получаем только небольшой процент от прибыли</p>
          </li>

          <li class="advantages__item">
            <h3 class="main-text advantages__title">Связки</h3>
            <p class="small-text">Для того, чтоб зарабатывать, они тебе нужны, мы дадим их бесплатно</p>
          </li>

          <li class="advantages__item">
            <h3 class="main-text advantages__title">Приватная группа</h3>
            <p class="small-text">Доступ в группу, где арбитражники делятся опытом и наработками</p>
          </li>
        </ul>

        <div class="advantages__info">
          <div class="advantages__info-wrap">
            <div class="advantages__info-desc">
              <p class="main-text">Наша команда получает самую свежую информацию <br> по заработку на криптоарбитраже
                и делится <br> собственными эксклюзивными наработками
              </p>
            </div>
            <a href="#" aria-label="telegram link" class="advantages__info-link"></a>
          </div>
          <div class="advantages__info-img">
            <img src="../assets/img/crown.png" alt="Корона с монетой биткона на фоне">
          </div>
        </div>
      </div>
    </section>
    <section class="public">
      <a name="public"></a>
      <div class="container">
        <div class="public__title-wrap">
          <h2 class="second-title public__title bordered-title">
            <span>Хочешь в группу с инсайдерской инфой?</span>
          </h2>
          <p class="small-text public__subtitle">Пошаговый план — хорошо, а постоянный поток инсайдов — еще лучше</p>
        </div>
        <div class="public__content">
          <div class="public__desc-box">
            <h3 class="third-title public__desc-title">Что такое наша приватная группа?</h3>
            <p class="main-text public__desc-text">
              Это бесконечный поток бесплатных связок, советов и идей по заработку в сфере P2P криптоарбитража,
              эксклюзивная информация и личный опыт арбитражников. <br>И все это бесплатно, все, что тебе нужно сделать —
              подписаться на нас!
            </p>
            <a href="#" class="button subscribe-button">
              <span>Подписаться</span>
            </a>
          </div>
          <div class="public__img-box">
            <img src="../assets/img/stiker-6.png" alt="Парень машет рукой">
          </div>
        </div>
      </div>
    </section>
    <section class="results">
      <a name="results"></a>
      <div class="container">
        <div class="results__title-wrap">
          <h2 class="second-title results__title bordered-title">
            <span>Достижения наших студентов</span>
          </h2>
          <p class="small-text results__subtitle">В Лиге Чемпионов ждут только тебя</p>
        </div>

        <div class="results__content-box">
          <div class="visually-hidden video-wrapper">
            <span class="video-thumbnail"></span>
            <span class="video-player"></span>
          </div>

            <div class="video-wrapper">
              <img src="../assets/video/1.png" alt="Video Thumbnail" class="video-thumbnail"
                   data-video-src="../assets/video/video-1.mp4">
              <video preload="metadata" class="video-player" >
                <source src="../assets/video/video-1.mp4" type="video/mp4">
              </video>
            </div>

          <div class="video-wrapper">
            <img src="../assets/video/2.png" alt="Video Thumbnail" class="video-thumbnail"
                 data-video-src="../assets/video/video-2.mp4">
            <video preload="metadata" class="video-player" >
              <source src="../assets/video/video-2.mp4" type="video/mp4">
            </video>
          </div>

          <div class="video-wrapper">
            <img src="../assets/video/3.png" alt="Video Thumbnail" class="video-thumbnail"
                 data-video-src="../assets/video/video-3.mp4">
            <video preload="metadata" class="video-player" style="object-position: 0 -20px;">
              <source src="../assets/video/video-3.mp4" type="video/mp4">
            </video>
          </div>

          <div class="video-wrapper">
            <img src="../assets/video/4.png" alt="Video Thumbnail" class="video-thumbnail"
                 data-video-src="../assets/video/video-4.mp4">
            <video preload="metadata" class="video-player" >
              <source src="../assets/video/video-4.mp4" type="video/mp4">
            </video>
          </div>

          <div class="video-wrapper">
            <img src="../assets/video/5.png" alt="Video Thumbnail" class="video-thumbnail"
                 data-video-src="../assets/video/video-5.mp4">
            <video preload="metadata" class="video-player" onplay="playVideo5()" id="video-5">
              <source src="../assets/video/video-5.mp4" type="video/mp4">
            </video>
          </div>

          <div class="video-wrapper">
            <img src="../assets/video/6.png" alt="Video Thumbnail" class="video-thumbnail"
                 data-video-src="../assets/video/video-6.mp4">
            <video preload="metadata" onplay="playVideo6()" class="video-player" id="video-6">
              <source src="../assets/video/video-6.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </section>
    <section class="mission">
      <div class="container">
        <div class="mission__title-wrap">
          <h2 class="second-title mission__title bordered-title">
            <span>Наша миссия</span>
          </h2>
          <p class="small-text mission__subtitle">Кто-то же должен делать мир лучше</p>
        </div>
        <div class="mission__content">
          <div class="mission__desc-box">
            <p class="main-text mission__desc-text">
              Мы хотим дать каждому возможность научиться зарабатывать в сфере P2P криптоарбитража.
            </p>

            <p class="main-text mission__desc-text">
              Каждый студент, показавший хороший результат — это будущий специалист в нашей команде.
            </p>

            <p class="main-text mission__desc-text">
              Так давай же начнем наше путешествие в мир P2P
            </p>
            <a href="#" class="button subscribe-button">
              <span>Подписаться</span>
            </a>
          </div>
          <div class="mission__img-box">
            <img src="../assets/img/stiker-7.png" alt="Парень медитирует">
          </div>
        </div>
      </div>
    </section>
  </main>
<script>
  function playVideo5() {
    document.getElementById('video-6').pause();
  }

  function playVideo6() {
    document.getElementById('video-5').pause();
  }

</script>
@@include('./components/footer-empty.html')
