<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-RU-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@@title</title>

  <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
  <header class="header">
    <div class="container">
      <nav class="header__nav">
        <a class="logo header__logo" href="index.html">
          <img src="../assets/img/logo.svg" alt="">
        </a>

        <button class="hamburger hamburger--spring" type="button" aria-label="Menu" aria-controls="navigation">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

        <ul class="nav-menu" id="navigation">
          <li class="nav-menu__item">
            <a href="#how-it-works" class="nav-menu__link">Как работают арбитражники</a>
          </li>

          <li class="nav-menu__item">
            <a href="#advantages" class="nav-menu__link">Почему это выгодно?</a>
          </li>

          <li class="nav-menu__item">
            <a href="#public" class="nav-menu__link">Приватная группа</a>
          </li>

          <li class="nav-menu__item">
            <a href="#results" class="nav-menu__link">Достижения студентов</a>
          </li>

          <li class="nav-menu__item">
            <a href="#" class="nav-menu__link">Получить план</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
